
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body {
    
    font-family: "oswald" , sans-serif; 
   background-image: url(tt.png); min-height: 100vh;
}
 
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size:2.5rem ;
    text-shadow: 5px 5px 6px #0000004a;
    color: rgb(165, 65, 247);
    font-family: "oswald" , sans-serif ; 
    font-size: 8vw;

}

main{
    min-height: 500px;
    width: 90%;
    background-color: rgba(27, 8, 110, 0.712);
     margin: 0 auto;
      border: 2px rgb(119, 0, 255);
     border-radius: 20px;
     box-shadow: 7px 6px 20px 1px #c467ff;
     padding:15px ; 
}

h2{
    margin: 0;
    text-shadow: 0 0 0 black;
    
}

.flexbox , .grid , .absolute  { 
    border:  2px solid rgb(76, 24, 100);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    min-height: 150px;
    
}
.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around ;
    border-radius: 20px;
   }
 
.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background-color: #c467ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 0 black;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}
.grid img {
    width: 100%;
    margin-top: 20px;
    display: block;
    display: block;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}

input , textarea {
    margin: 5px;
    border: 1px rgb(78, 11, 78);
    padding: 10px;
    font-size: 1.1rem;
    font-family: dmserif;
    border-radius: 5px;
}
textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
    border-radius: 5px;
    }

#btn-submit {
    grid-area: bt;
    cursor: pointer;
    background-color: #c467ff;
    transition: 0.2s;
}

#btn-submit:hover {
    background: #511377;
}
.absolute {
    position: relative;
}
#circle1 {
    height: 80px;
    width: 80px;
    background-color: #520864;
    position: absolute;
    border-radius: 150px;
    top: 0;
    right: 0;
}
#circle2 {
    height: 40px;
    width: 40px;
    border-radius: 150px;
    background-color: #8b2062;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

@media screen and (max-width: 900px) {
  .grid-container {
    display: block;
  }
  .grid-container img {
    width: 40%;
  }
 
}
@media screen and (max-width: 610px){
    .flexbox ul {
        flex-direction: column;
        align-items: center;
    }
    form {
        grid-template-columns:1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }
input ,textarea {
font-size: 0.8rem;
}
}